$font-size-base: 20px;
$font-size-title: 24px;
.demo {
  padding: 5%;
  font-size: $font-size-base;
  &-section {
    margin: 20px 0;
    .title {
      font-size: $font-size-title;
      margin: 15px 0;
      padding: 5px 0;
      border-bottom: 1px solid #ddd;
    }
  }
}
.m-t-2 {
  margin-top: 20px;
}
.m-b-2 {
  margin-bottom: 20px;
}
.m-l-2 {
  margin-left: 20px;
}

.demo-input {
  display: inline-block;
  width: 300px;
}

.block {
  display: block;
}

.btn {
  display: inline-block;
  margin: 0 10px 10px 0;
  width: auto;
  padding: 8px 15px;
  line-height: 1;
  font-size: $font-size-base;
}

.demo-class {
  padding: 8px 20px;
  background: linear-gradient(to top right, #ff6355, #fe4737);
  color: #fff !important;
  border: 1px solid #fe4737;
  border-radius: 100px;
  font-family: Arial, Helvetica, sans-serif;
  .symbol,
  .day-text {
    margin: 0 8px;
  }
}
