$font-size-base: 20px;
$font-size-title: 24px;
.demo {
  padding: 5%;
  font-size: $font-size-base;
  &-section {
    margin: 20px 0;
    .title {
      font-size: $font-size-title;
      margin: 15px 0;
      padding: 5px 0;
      border-bottom: 1px solid #ddd;
    }
  }
}
.m-t-2 {
  margin-top: 20px;
}
.m-b-2 {
  margin-bottom: 20px;
}
.block {
  display: block;
}
.btn {
  display: inline-block;
  margin: 0 10px 10px 0;
  width: auto;
  padding: 8px 15px;
  line-height: 1;
  font-size: $font-size-base;
}

.demo-class {
  color: #ffa726 !important;
  font-size: 32px;
  .hour {
    border: 2px dashed #29b6f6;
    padding: 5px;
  }
  .minute {
    border-radius: 10px;
    border: 2px dotted #e53935;
    padding: 15px;
  }
  .second {
    border: 2px groove #6d4c41;
    padding: 8px;
  }
  .symbol {
    margin: 0 10px;
    color: #e65100;
  }
}
